*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body.body2 {
    background: url(b4.1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: white;
    ;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: max-content;
    font-family: 'Gudea', sans-serif;
    height: 4ch
  }
  
    .logo2 {
      font-size: 50px;
      padding-top: 2ch;
    }
  
  .logo2 a {
    color: white;
    text-decoration: none;
    letter-spacing: 20px;
    text-transform: lowercase;
    text-shadow: 2px 3px 3px  #000000;
    
  } 
  
  .nav-links2{
    display: flex;
    justify-content: space-around;
    width: 35%;
    padding-top: 5%;
    text-transform: lowercase;
  }
  
  .nav-links2 li{
    list-style: none;
    display:inline;
    padding: 10px 40px;
  }
  
  .nav-links2 a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    display: flex;
    padding-top: .5ch;
  }
  
  .nav-links2 a:hover {
    color: rgb(255, 102, 0);
    transition: 0.3s;
  }


  .section2 {
    padding-top: 75%;
    position: relative  ;
  }
  
  .headerTxt {
    padding-top: 5%;
     text-align: center;
     background-color: white;
     padding-bottom: 5%;
     font-family: 'Open Sans', sans-serif;
     text-transform: lowercase;
     letter-spacing: 5px;
     font-family: 'Source Sans Pro', sans-serif;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
  }
  .grid-item2  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    
    
  }

  .grid-item2 a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
    font-size: 20px;
    letter-spacing: 5px;
    border-style: outset;
       
  }
